# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
.env
*.env

# IDE
.vscode/
.idea/

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log
logs/

# MacOS
.DS_Store

# Docker
*.pid